<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mittrack">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <!-- For API below 33 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- For API 33+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- Declare that the app uses the camera hardware -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MITTrack">

        <!-- Splash Activity: Launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Role Selection Activity -->
        <activity
            android:name=".RoleSelectionActivity"
            android:exported="true" />

        <!-- Student Flow Activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AttendanceReportActivity"
            android:exported="false" />

        <!-- Admin Flow Activities -->
        <activity
            android:name=".AdminLoginActivity"
            android:exported="true" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAttendanceReportActivity"
            android:exported="false" />

    </application>
</manifest>
